<div (click) = "showInput(project, $event)" class = "project-item row">
    
  <div *ngIf = !isEditMode(project) class = "row">
    <div class = "col-md-6 cell">
      {{project.name}}
    </div>
    <div class = "col-md-6 cell">
      {{project.first_name}} {{project.last_name}}
    </div>
  </div>

  <form *ngIf = isEditMode(project) [formGroup]= "editProjectForm" class = "row edit-mode">
    <div class = "col-md-6 cell">
        <input *ngIf = isEditMode(project) [placeholder] = "project.name" class = "project-name-input" formControlName = "name">
    </div>
    <div class = "col-md-6 cell">
        <dropdown [options] = "usersOptions" class = "project-manager-dropdown" formControlName = "manager"></dropdown>
    </div>
  </form>
    
</div>

           
                    

