
<div class="container">
    <section id = "new-project" class = "col-md-10">
         <h3>Projects</h3>
         <input class = "btn btn-primary pull-lg-right" type="submit" value = "Add Project" (click) = "showNewForm()">
    </section>
    
    <section id = "projects-list" class = "col-md-10">
            
            <div class = "table-header row">
                <div class = "col-md-6 cell">Project Name</div>
                <div class = "col-md-6 cell">Project Manager</div>
            </div>
            
            <div class = "table-body">
               <project *ngFor = "let project of projects" [project] = "project"></project>
            </div>   
        
    </section>
 </div>

<project-form (newProject)="getProjects()" (closeForm) = "showNewForm()" [class.hidden] = "isFormHidden"></project-form>



