<div [id] = "project.name" (click) = "showRowEditor()" (clickOutside) = "hideRowEditor()" class = "project-item row" [class.selected] = "editMode">
    
  <div class = "row" [class.hidden] = "editMode">
    <div class = "col-md-6">
      {{project.name}}
    </div>
    <div class = "col-md-6">
      {{project.first_name}} {{project.last_name}}
    </div>
  </div>

  <form [formGroup]= "editProjectForm" (ngSubmit) = "editProject()" class = "row edit-mode" [class.hidden] = "!editMode">
    <div class = "col-md-6">
        <input formControlName = "name">
    </div>
    <div class = "col-md-6">
        <dropdown [options] = "usersOptions" formControlName = "manager"></dropdown>
    </div>
  </form>
    
</div>


           
                    

