
<div class="container">
    <section id = "new-project" class = "col-md-10">
         <h3>Projects</h3>
         <input class = "btn btn-primary pull-lg-right" type="submit" value = "Add Project" (click) = "showNewForm()">
    </section>
    
    <section id = "projects-list" class = "col-md-10">
    <table class = "table table-hover">
        <tr>
          <th>
              Project Name
          </th>
            <th>
              Project Manager
          </th>
        </tr>
        
        <tr *ngFor = "let project of projects" (click) = "showInput(project)">
            
            <td>
                <span *ngIf = !isEditMode(project)>{{project.name}}</span>
                <input *ngIf = isEditMode(project) [placeholder] = "project.name" class = "project-name-input">
            </td>
            <td>
                <span *ngIf = !isEditMode(project)>{{project.first_name}} {{project.last_name}}</span>
                <dropdown *ngIf = isEditMode(project) [options] = "usersOptions" class = "project-manager-dropdown"></dropdown>
            </td>
        </tr>
        
    </table>
    </section>
</div>

<project-form (newProject)="getProjects()" (closeForm) = "showNewForm()" [class.hidden] = "isFormHidden"></project-form>

