<div class="container">
    <section class = "page-header col-md-10">
         <h3>Users</h3>
         <input class = "btn btn-primary pull-xs-right" (click) = "showNewForm()" type="submit" value = "Add User">
    </section>
    
    <section class = "col-md-10" id = "projects-list">
            
            <div class = "table-header row">
                <div>
                <div class = "col-md-3">First Name</div>
                <div class = "col-md-3">Last Name</div>
                <div class = "col-md-3">Email</div>
                <div class = "col-md-1">Admin</div>
                </div>
            </div>
            
            <div class = "table-body row">
               <user *ngFor = "let user of users" [user] = "user" (userUpdated) = "getUsers()"></user>
            </div>   
        
    </section>
    
    <user-form [class.hidden] = "isFormHidden" (closeForm) = "showNewForm()" (newUser)="getUsers()"></user-form>
 </div>