<div class = "background">
<div class = "wrapper card new-project">
    <div class = "card-header card-primary dialog-header">
        <h4>New User</h4>
    </div>
    
 <div class = "card-block">   
<form id = "new-project-form" class = "new-project" [formGroup]="newUserForm">
        
  <div class = "form-group"> 
    <input class = "new-project-name form-control" type = "text" placeholder = "First Name" formControlName = "firstName" [class.has-errors] = "formErrors.firstName.error">
    <p class = "validation-message" [class.hidden] = "!formErrors.firstName.error">{{formErrors.firstName.messages}}</p>
  </div>
    
   <div class = "form-group"> 
    <input class = "new-project-name form-control" type = "text" placeholder = "Last Name" formControlName = "lastName" [class.has-errors] = "formErrors.lastName.error">
    <p class = "validation-message" [class.hidden] = "!formErrors.lastName.error">{{formErrors.lastName.messages}}</p>
   </div>
    
    <div class = "form-group"> 
    <input class = "new-project-name form-control" type = "text" placeholder = "Email" formControlName = "email" [class.has-errors] = "formErrors.email.error">
    <p class = "validation-message" [class.hidden] = "!formErrors.email.error">{{formErrors.email.messages}}</p>   
    </div>
    
    <div class="form-check">
    <label class="form-check-label">
    <input type="checkbox" class="form-check-input" formControlName = "isAdmin">
      Administrator
    </label>
   </div>
    
  <div class = "form-group">    
    <button type="submit" class="new-project-btn btn btn-primary btn-sm" (click)="addUser()">Submit</button>
       
    <button type="button" class="btn btn-default btn-cancel btn-sm" (click) = "resetForm()">Cancel</button>
  </div>
    
</form>
    </div>
</div>
</div>