<div class = "table-item" [class.selected] = "editMode" (click) = "showRowEditor()" (clickOutside) = "hideRowEditor()">
    
  <div class = "row" [class.hidden] = "editMode">
    <div class = "col-md-3">
      {{user.first_name}}
    </div>
    <div class = "col-md-3">
      {{user.last_name}}
    </div>
    <div class = "col-md-3">
      {{user.email}}
    </div>
    <div class = "col-md-1">
        <span *ngIf = "user.is_admin">Yes</span>
    </div>
      
  </div>

  <form class = "edit-form row edit-mode" [class.hidden] = "!editMode" [formGroup]= "editUserForm" (ngSubmit) = "editUser()">
    <div class = "col-md-3">
        <input class = "table-text-input" [class.has-errors] = "formErrors.firstName.error" formControlName = "firstName" (keypress) = "submit($event)">
        <p class = "validation-message" [class.hidden] = "!formErrors.firstName.error">{{formErrors.firstName.messages}}</p>
    </div>
    <div class = "col-md-3">
        <input class = "table-text-input" [class.has-errors] = "formErrors.lastName.error" formControlName = "lastName" (keypress) = "submit($event)">
        <p class = "validation-message" [class.hidden] = "!formErrors.lastName.error">{{formErrors.lastName.messages}}</p>
    </div>
    <div class = "col-md-3">
        <input class = "table-text-input" formControlName = "email" disabled>
    </div>
    <div class = "col-md-1 table-checkbox">
        <input formControlName = "isAdmin" type="checkbox">
    </div>
     <div class = "col-md-2">
        <div class = "table-buttons  pull-xs-right">
        <button class = "btn btn-success" type = "submit"><span class="table-button-save octicon octicon-check"></span></button>
        <button class = "btn btn-danger"><span class="table-button-delete octicon octicon-x"></span></button>
        <!--<button class="btn btn-info"><span class="table-button-delete octicon octicon-key"></span></button>-->  
        </div>
    </div> 
  </form>
    
</div>
