body { 
    padding-top: 55px;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    margin-top: 50px;
}

/*-------NAVBAR--------*/

a.current-user {
    color: #fff;
}

.avatar {
    margin: 0 5px;
}

.navbar-toggler {
    color: #fff;
}

.navbar__collapsible-menu {
    
    background-color: #484848;
    color: #fff;
    padding: 8px 0;
}

.navbar__collapsible-menu-link {
    display: block; 
    color: #fff;
    padding: 8px 16px;
}

.navbar__collapsible-menu-link:hover {
    color: #949393;
    text-decoration: none;
}

.navbar__collapsible-menu-divider {
    background-color: #949393;
    padding: 8px 0;
}

.navbar__collapsible-menu-section-title {
    padding: 0 16px;
    color: #484848;
    font-weight: 700;
}

/*------- EDIT FORM--------*/

.edit-form {
   font-size: .875rem; 
}

.edit-form select, .edit-form button, .edit-form textarea, .edit-form input {
   height: 33px;
}

.edit-form input {
   overflow: hidden;
   text-overflow: ellipsis;
   border-width: 1px;
   border-radius: .2rem;
}

.edit-form textarea {
   font-size: .875rem; 
   overflow: hidden;
   resize: none;
}

.btn-cancel {
   color: #fff;
   background-color: #9f9c9c;
   border-color: #7e7b7b;
}

.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .btn-cancel.focus, .btn-cancel.active {
    color: #fff;
    background-color: #7e7b7b;
    border-color: #605f5f;
}

/*-------DROPDOWN--------*/

/*.main-dd-btn {
   display: flex;
   justify-content: flex-start;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.dropdown a {
   text-decoration: none
}

.dropdown-item .circle,  .dropdown-item span {
   vertical-align: middle;
}*/

/*-------POPUP-------*/

.popup-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72,72,72,0.7);
}

.popup-wrapper {
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    border: 0 !important;
}

.popup-header {
    color: #fff;
}

.popup-text-input {
   width: 100%;
   font-size: .875rem !important;
}

.popup-dropdown.main-dd-btn {
    width: 238px;
}

/*-------EDITABLE TABLES--------*/

.table-header {
    font-weight: bold;
}

.table-header, .table-item {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #eceeef;
}

.table-item {
    padding-left: 15px;
    padding-right: 15px;
}

.table-item.selected{
    padding-top: 8px;
    padding-bottom: 8px;
}

div.table-item:hover , .selected {
    background-color: #eceeef;
}

.table-text-input {
    padding-left: 8px;
    width: 100%;
}

.table-item .main-dd-btn {
    width: 154px;
    text-align: left;
}

.table-checkbox {
    height: 33px;
}

.table-buttons button {
    width: 30px;
    text-align: center;
    padding: 0;
}

@media (max-width: 770px) {

.table-text-input, .table-item .main-dd-btn {
    margin-bottom: 12px;
}

}

/*-------LOGIN PAGE--------*/

.login-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -150px;
}

.panel-login {
    padding: 40px;
    width: 300px;    
}

.login-brand {
    text-align: center;
    margin-bottom: 20px;
}

.login-form-title {
    color: #808080;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 22px;
}

.panel-login .input-group {
    border-radius: .25rem;
}

.input-group-addon {
    color: grey;
}

.sign-up-link {
    display: block;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 12px;
}

.panel-login .input-group, #team {
    margin-top: 17px;
}

.panel-login .btn {
    margin-top: 27px;
}

.panel-login .alert {
    font-size: 0.875rem; 
    text-align: center;
}

.email-confirmation {
    color: #0275d8;
    margin-top: 30px;
}

/*------- NEW UPDATE FORM--------*/

section.new-update-panel {
    margin-bottom: 50px;
} 

.new-update-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-update-form > div {
    display: inline-block;
    vertical-align: middle;
}

.status .main-dd-btn {
    width: 110px;
}

.project .main-dd-btn{
    width: 150px;
}

.text {
    width: 40%;
}

.text textarea {
    width: 100%;
}

.buttons {
    width: 20%;
}


@media (max-width: 1200px) {

    .text {
    width: 50%;
}

    .buttons {
    width: 100%;
    margin-top: 10px;
}
    
}

@media (max-width: 990px) {

    .status .main-dd-btn {
    width: 200px;
}

    .project .main-dd-btn{
    width: 200px;
}    
    
    
    .status {
    width: 100%;
}

   .project {
    width: 100%;
    margin-top: 10px
}  
    
    .text {
    width: 100%;
    margin-top: 10px
}

    .buttons {
    width: 100%;
    margin-top: 10px;
}
}

/*-------UPDATES LIST--------*/

.updates-list {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.last-update, .last-update-header {
    margin-bottom: 15px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.update-info, .update-text {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 10px;
}

.circle {
  background-color: #9f9c9c;
  border-radius:9px;
  width: 15px;
  height:15px; 
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
  
}

.circle-wrapper, .project-name {
   display: inline-block; 
   vertical-align: middle;
    
}

.red {
  background-color: #ee4a4a;
}

.yellow {
  background-color: #f6d50a;
}

.green {
  background-color: #82d64d;
}

.project-name {
    padding-top: 2px;
    font-size: 140%;
    font-weight: 500;
}

.update-date, .update-text {
    padding-left: 45px;
    margin-bottom: 8px;
}

.updated-by, .updated-at {
    font-weight: 600;
}

/*-------ADMIN PAGES--------*/

.page-header{
    height: 34px;
    line-height: 34px;
    margin-bottom: 30px;
}

.page-header h3 {
    margin: 0;
}

.page-header h3, .page-header .btn {
    display: inline-block;
    vertical-align: middle;
}

/*-------COMMON-------*/

.hidden {
    display: none;
}

.has-errors {
    border: 1px solid red !important;
}

.validation-message {
    
    color: red;
    font-size: 0.875rem;
    margin: 0;
}
