body { 
    padding-top: 100px;
}

a.current-user {
    color: #fff;
}

.avatar {
    margin: 0 5px;
}

/*-------FORM--------*/

form input {
   overflow: hidden;
   text-overflow: ellipsis;
}

section.new-update {
    margin-bottom: 50px;
    /*padding-bottom: 4px;*/
} 

.card select, .card button, .card textarea,
.project-item input, .project-item button {
     height: 33px;
}

.btn-cancel {
    color: #fff;
    background-color: #9f9c9c;
    border-color: #7e7b7b;
}

.btn-cancel:hover, .btn-cancel:focus, .btn-cancel.focus, .btn-cancel:active, .btn-cancel.active {
    color: #fff;
    background-color: #7e7b7b;
    border-color: #605f5f;
}

.form-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-content > div {
    display: inline-block;
    vertical-align: middle;
}

.status .main-dd-btn {
    width: 110px;
}

.project .main-dd-btn{
    width: 150px;
}

.text {
    width: 40%;
}

.text textarea {
    width: 100%;
    font-size: .875rem;
    overflow: hidden;
    resize: none;
}

.buttons {
    width: 20%;
}

.has-errors {
    border: 1px solid red !important;
}

@media (max-width: 1200px) {
    
    .text {
    width: 50%;
}

    .text textarea {
    width: 100%;
}

    .buttons {
    width: 100%;
    margin-top: 10px;
}
    
}

@media (max-width: 990px) {
   
    .status {
    width: 100%;
}

   .project {
    width: 100%;
    margin-top: 10px
}  
    
    .text {
    width: 100%;
    margin-top: 10px
}

    .text textarea {
    width: 100%;
}

    .buttons {
    width: 100%;
    margin-top: 10px;
}
    
}

/*-------DROPDOWN--------*/

.main-dd-btn {
   display: flex;
   justify-content: flex-start;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.dropdown a {
   text-decoration: none
}

.dropdown-item .circle,  .dropdown-item span {
    vertical-align: middle;
}

/*.dropdown-item span, .main-dd-btn span {
    display: inline-block;*/
}

/*-------UPDATES LIST--------*/

.updates {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.last-update, .last-update-header {
    margin-bottom: 15px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.update-info, .update-text {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 10px;
}

.circle {
  background-color: #9f9c9c;
  border-radius:9px;
  /*border: 2px solid #58878b;*/
  /*margin: auto;*/
  width: 15px;
  height:15px; 
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
  
}

.circle-wrapper, .project-name {
   display: inline-block; 
   vertical-align: middle;
    
}

.red {
  background-color: #ee4a4a;
}

.yellow {
  background-color: #f6d50a;
}

.green {
  background-color: #82d64d;
}

.project-name {
    padding-top: 2px;
    font-size: 140%;
    font-weight: 500;
}

.update-date, .update-text {
    padding-left: 45px;
    margin-bottom: 8px;
}

.updated-by, .updated-at {
    font-weight: 600;
}

#add-project-name {
    width: 100%;
}

/*-------LOGIN--------*/

.login-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    //margin-top: -250px;
    margin-left: -150px;
    //min-height: 500px;
}

.panel-login {
    padding: 40px 40px 40px 40px;
    width: 300px;    
}

.login-brand {
    text-align: center;
    margin-bottom: 35px;
}

.form-title {
    color: #808080;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 22px;
}


.input-group-addon {
    color: grey;
}

#sign-up-link {
    display: block;
    font-weight: 500;
    text-align: center;
    //position: absolute;
    //bottom: 8%;
    //left: 50%;
    //margin-left: -24px;
    position: relative;
    top: 12px;
}

.panel-login .input-group, #team {
    margin-bottom: 17px;
}

.panel-login .btn {
    margin-top: 27px;
}

/*-------PROJECTS LIST--------*/

.table-header {
    font-weight: bold;
}

.table-header, .project-item {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #eceeef;
}

.project-item {
    padding-left: 15px;
}

div.project-item:hover , .selected {
    background-color: #eceeef;
}

.project-item input {
    
    padding-left: 8px;
}

.project-item .main-dd-btn {
    width: 154px;
    text-align: left;
}

/*-------NEW PROJECT FORM-------*/

.page-header{
    height: 34px;
    line-height: 34px;
    margin-bottom: 30px;
}

.page-header h3 {
    margin: 0;
}

.page-header h3, .page-header .btn {
    display: inline-block;
    vertical-align: middle;
}

.dropdown button {
    line-height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72,72,72,0.7);
}

.wrapper {
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    border: 0 !important;
}

.card-header {
    background-color: #0275d8;
    color: #fff;
}

/*-------COMMON-------*/

.hidden {
    display: none;
}

.validation-message {
    
    color: red;
    font-size: 0.875rem;
    margin: 0;
}
