<div class = "login-wrapper">
  <h2 class = "login-brand">Simple Updates</h2>
    
  <div *ngIf = "!isEmailSent">  
     <h3 class = "login-form-title">Create new Team</h3>
    
     <div class="panel panel-default panel-login"> 
      
       <form [formGroup] = "signupForm" id = "signupForm" (ngSubmit) = "signup()">
              
         <input class = "form-control" [class.has-errors] = "formErrors.teamName.error" formControlName = "teamName" placeholder="Team Name" type="text">
         <p class = "validation-message" [class.hidden] = "!formErrors.teamName.error">{{formErrors.teamName.messages}}</p>
           
         <input class = "form-control" [class.has-errors] = "formErrors.firstName.error" formControlName = "firstName" placeholder="First Name" type="text">
         <p class = "validation-message" [class.hidden] = "!formErrors.firstName.error">{{formErrors.firstName.messages}}</p>
           
         <input class = "form-control" [class.has-errors] = "formErrors.lastName.error" formControlName = "lastName" placeholder="Last Name" type="text">
         <p class = "validation-message" [class.hidden] = "!formErrors.lastName.error">{{formErrors.lastName.messages}}</p>
       
       
       
         <div class = "input-group" [class.has-errors] = "formErrors.email.error">
           <span class="input-group-addon">
            <!--<span class= "glyphicon glyphicon-envelope"></span>-->
              <span class="octicon octicon-mail"></span>
           </span> 
           <input class = "form-control" formControlName = "email" name="signupEmail" placeholder="Email" type="email">
         </div>
         <p class = "validation-message" [class.hidden] = "!formErrors.email.error">{{formErrors.email.messages}}</p>
        
         <div class = "input-group" [class.has-errors] = "formErrors.password.error"> 
            <span class="input-group-addon">
            <!--<span class = "glyphicon glyphicon-asterisk"></span>-->
               <span class="octicon octicon-key"></span>
            </span>  
            <input class = "form-control" formControlName = "password" name="signupPassword" placeholder="Password"  type="password">
         </div>
         <p class = "validation-message" [class.hidden] = "!formErrors.password.error">{{formErrors.password.messages}}</p>
          
         <input class = "form-control btn btn-primary" type="submit" value="Signup">
    
       </form>
    </div> 
  </div>
    
  <div *ngIf = "isEmailSent" class = "email-confirmation">
      <h3>Please check your email</h3>
  </div>
</div>

