<div class = "background">
<div class = "wrapper card new-project">
    <div class = "card-header card-primary dialog-header">
        <h4>New Project</h4>
    </div>
    
 <div class = "card-block">   
<form id = "new-project-form" class = "new-project" [formGroup]="newProjectForm">
        
  <div class = "form-group"> 
    <input id = "add-project-name" class = "new-project-name form-control" type = "text" placeholder = "Project Name" formControlName = "name">
  </div>
    
   <div class = "form-group"> 
    <dropdown [options] = "usersOptions" [placeholder] = "'Project Manager'" formControlName = "manager"></dropdown>
  </div>  
    
  <div class = "form-group">    
    <button type="submit" class="new-project-btn btn btn-primary btn-sm" (click)="addProject()">Submit</button>
       
    <button type="button" class="btn btn-default btn-cancel btn-sm" (click) = "resetForm()">Cancel</button>
  </div>
    
</form>
    </div>
</div>
</div>