<form class = "edit-form new-update-form" [formGroup] = "newUpdateForm" id = "new-update-form">

  <div class = "status">
    <dropdown formControlName = "status" [hasErrors] = "formErrors.status.error" [options] = "statusesOptions" [placeholder] = "'Status'"></dropdown>
    <p class = "validation-message" [class.hidden] = "!formErrors.status.error">{{formErrors.status.messages}}</p>
  </div>   
    
  <div class = "project">
    <dropdown formControlName = "project" [hasErrors] = "formErrors.project.error" [options] = "projectsOptions" [placeholder] = "'Project'"></dropdown>
    <p class = "validation-message" [class.hidden] = "!formErrors.project.error">{{formErrors.project.messages}}</p>
  </div>
       
  <div class = "text">    
    <textarea class = "form-control" [class.has-errors] = "formErrors.text.error" formControlName = "text" id = "new-update-text" (keyup) = "resize($event)"></textarea>
    <p class = "validation-message" [class.hidden] = "!formErrors.text.error">{{formErrors.text.messages}}</p>
  </div>
       
  <div class = "buttons">
    <div class = "pull-sm-right">
      <button class = "btn btn-primary btn-sm" (click) = "addUpdate()" type = "submit">Submit</button>
      <button class = "btn btn-default btn-cancel btn-sm" (click) = "resetForm()" type = "button">Cancel</button>
    </div>
  </div>
     
</form>